<style>
  .logoutBtn {
    border-bottom: 1px dotted;
    cursor: pointer;
  }



</style>



<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<div class="float-right"><small><%= @user.email %> - <span class="logoutBtn" id="logoutBtn">Logout</span></small></div><br>


<div class="row">
  <div class="col-4">
    <div class="card-body">
      <h5 class="card-title">Groups</h5>
      <p class="card-text">
        <% @groups.each do |group| %>
          <a href="/schedule/<%= group.get_group_id %>/<%= group.name %>"><%= group.name %></a>

        <% end %>
      </p>
    </div>
  </div>
  <div class="col-8"><h1>What's New</h1></div>
</div>

<script>

  $("#logoutBtn").click(function () {
      $.ajax({
          url: "<%= url_for :destroy_user_session %>",
          method: "DELETE",
          success: function () {
              window.location.replace("<%= url_for :root %>");
          }
      })
  })

</script>
