<!DOCTYPE html>
<html>
<head>
  <title>Timeslots</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  <%= javascript_include_tag 'http://code.jquery.com/jquery-3.3.1.min.js', 'crossorigin': 'anonymous' %>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <span class="display-4 font-weight-normal" >Timeslots</span>
    </div>


  </div>
  <div class="float-right"><small><%= notice %><%= alert %></small></div>
  <br>
  <%= yield %>
</div>

<br>
<br>
<!-- Set this a minimum distance to the bottom
<footer class="footer">
  <div class="container">
    <span class="text-muted">By Jason Meredith</span>
    <span class="text-muted float-right">Github link</span>
  </div>
</footer>
-->
</body>
</html>
